In [1]:
import pandas as pd

#Load the CSV file into a DataFrame
df = pd.read_csv('Product_Offering_Data.csv') 
df.head()

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium

In [2]:
df.isna().all()

Product_ID             False
Product_Name           False
Product_Type           False
Risk_Level             False
Target_Age_Group        True
Target_Income_Group    False
dtype: bool

In [7]:
df

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium
5,6,Personal Loan,Loan,Medium,NaN,Low
6,7,Youth Savings Account,Savings Account,Low,NaN,Low
7,8,Retirement Investment Fund,Investment,High,NaN,High
8,9,Business Loan,Loan,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
10,2,Gold Savings Account,Savings Account,Low,NaN,Low
11,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
12,3,High-Yield Investment Account,Investment,High,NaN,High
13,6,Personal Loan,Loan,Medium,NaN,Low
14,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium

In [9]:
df['Product_Type'].unique()

array(['Credit Card', 'Savings Account', 'Investment', 'Loan'],
      dtype=object)